<table>
  <thead>
    <tr class="bg-grayTable">
      <th class="text-center border-r-0">
        <span class="font-normal"> API 資訊 </span>
      </th>
      <th class="border-l-0"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="w-[13%] text-center">
        <span>API 代號</span>
      </td>
      <td>
        <span>CACTX503_01</span>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <span>功能名稱</span>
      </td>
      <td>
        <span>外幣付款預約註銷 - 初始化畫面</span>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <span>服務分類</span>
      </td>
      <td>
        <span>Twd</span>
      </td>
    </tr>
  </tbody>
</table>
