<ng-container *ngIf="payloadList.length === 0; else elseTemplate">
  <tr>
    <td class="text-center">02</td>
    <td class="!pl-2">{{ emptyText }}</td>
    <td class="text-center">{{ emptyText }}</td>
    <td class="!pl-2">{{ emptyText }}</td>
    <!-- 是否為null -->
    <td *ngIf="isResponse" class="text-center">{{ emptyText }}</td>
    <td class="!pl-2">{{ emptyText }}</td>
  </tr>
</ng-container>
<ng-template #elseTemplate>
  <ng-container *ngFor="let item of payloadList">
    <tr class="payload-row" [ngClass]="getBgColor(item.level, item.type)">
      <td class="text-center">{{ item.level }}</td>
      <td
        [ngClass]="{
          '!pl-1': item.level === '02',
          '!pl-5': item.level === '03',
          '!pl-9': item.level === '04',
          '!pl-13': item.level === '05',
        }"
      >
        {{ item.fieldName }}
      </td>
      <td class="text-center">{{ item.type }}</td>
      <td class="!px-4">{{ item.fieldDescription }}</td>
      <td *ngIf="isResponse">{{ item.isRequired }}</td>
      <td>{{ item.memo }}</td>
    </tr>
  </ng-container>
</ng-template>
