<ul>
  <li class="list-disc font-bold">
    <h2>CACTX503_01 初始化畫面（REQUEST）</h2>
  </li>
</ul>

<table>
  <tr class="bg-yellowTable2">
    <td colspan="6" class="text-center">
      <span>CACTX503_01 (REQUEST)</span>
    </td>
  </tr>
  <tr class="bg-yellowTable2">
    <td colspan="6" class="font-semibold">
      <span>Request Header</span>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <span>規則請參照API-Common 文件(Request Header)</span>
    </td>
  </tr>
  <tr class="bg-yellowTable2">
    <td colspan="6" class="font-semibold">
      <span>Request Body</span>
    </td>
  </tr>
  <tr class="table-head bg-blueTable">
    <td class="w-[5%]">
      <span>層級</span>
    </td>
    <td class="w-[20%]">
      <span>欄位名稱</span>
    </td>
    <td class="w-[13%]">
      <span>資料型態</span>
    </td>
    <td class="w-[20%]">
      <span>欄位說明</span>
    </td>
    <td class="w-[12%]">
      <span>是否為 Null</span>
    </td>
    <td class="!text-left !pl-4">
      <span>備註</span>
    </td>
  </tr>

  <!-- payload -->
  <app-payload-table class="table-row-group" [isResponse]="true" [payloadList]="payloadList"></app-payload-table>
</table>
